.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 150px);

    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50%;
    font-size: 30px;
    text-align: center;
  }

  .grid-container > div::before {
      content: "";
      padding-top: 100%;
      display: block;
  }